<div class="settings-container">
  <div class="form-container">
    <h2>Search Parameters</h2>
    <form [formGroup]="searchForm">
      <label>
        Text:
        <input type="text" formControlName="text">
      </label>
      <label>
        Sources (comma-separated):
        <input type="text" formControlName="sources">
      </label>
      <label>
        Domains (comma-separated):
        <input type="text" formControlName="domains">
      </label>
      <label>
        From Date:
        <input type="date" formControlName="fromDate" min="{{ setFormDate().minDate }}" max="{{ setFormDate().maxDate }}">
      </label>
      <label>
        To Date:
        <input type="date" formControlName="toDate" min="{{ setFormDate().minDate }}" max="{{ setFormDate().maxDate }}">
      </label>
      <label>
        Page:
        <input type="number" formControlName="page">
      </label>
      <label>
        <!--
        Sort By:
        <select formControlName="sortBy">
          <option value="relevancy">Relevancy</option>
          <option value="popularity">Popularity</option>
          <option value="publishedAt">Published At</option>
        </select>
        -->
      </label>
      <button (click)="queryArticles()">Get articles</button>
    </form>
    <button (click)="refreshArticles()">Update latest articles</button>
  </div>

  <div class="arrow-container">
    <h3>Page buttons</h3>
    <button (click)="getPreviousPage()"><-</button>
    <button (click)="getNextPage()">-></button>
  </div>

</div>

<div class="card-container">
  <div class="card" *ngFor="let article of articles">
    <div class="card-body">
      <img src="https://www.clipartmax.com/png/small/99-998189_include-some-description-article-clipart.png" alt="Article image">
      <h5 class="card-title">{{ article.title }}</h5>
      <p class="card-text">{{ article.author }}</p>
      <div class="button-container">
        <button (click)="openArticle(article)" class="btn btn-primary">Read</button>
        <a href="{{ article.url }}" target="_blank" class="btn btn-primary">Open article in new tab</a>
      </div>
    </div>
  </div>
</div>